<%= form_for @changeset, Routes.topic_path(@conn, :update, @topic.id), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: "Title", class: "form-control "%>
    <%= error_tag f, :title %>
  </div>

  <%= submit "Save Topic", class: "btn btn-primary" %>
  <%= button "Cancel", to: Routes.topic_path(@conn, :index), method: :get, class: "btn btn-default" %>
<% end %>