<h1>Topics</h1>

<%= link("Create new Topic", to: Routes.topic_path(@conn, :new)) %>

<div>
  <table>
    <tbody>
      <%= for topic <- @topics do %>
        <tr>
          <td>
            <%= link topic.title, to: Routes.topic_path(@conn, :show, topic) %>
            <%= if @conn.assigns.user.id == topic.user_id do %>
              <div class="right">
                <%= link "Edit", to: Routes.topic_path(@conn, :edit, topic) %>&nbsp;
                <%= link "Delete", to: Routes.topic_path(@conn, :delete, topic.id), method: :delete %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>