<h1><%= @topic.title %></h1>
<div class="input-field">
  <textarea class="materialize-textarea"></textarea>
  <button class="btn">Add comment</button>
  <ul class="collection"></ul>
</div>
<button onClick="window.ping()">Ping</button>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    window.createSocket(<%= @topic.id %>)
  })
</script>