/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
nav {
  margin-bottom: 30px;
}
.invalid-feedback {
  color: red;
  text-transform: capitalize;
}
form {
  margin-bottom: 0px;
}

button {
  margin-top: 30px;
  margin-right: 10px
}

.btn-default {
  background: #ccc;
  color: #666;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  background: #999;
  color: #333;
}

.link{
  font-size: 14px;
}